<div class="container main-container">
    <div><span>Cadastrar Fornecedores</span></div>
    <div>
        <form action="">
            <input type="text" placeholder="Que fornecedor está procurando?">
            <button type="submit"></button>
        </form>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Código</th>
                <th>CNPJ</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>#</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let fornecedor of fornecedores">
                <td>{{fornecedor.id}}</td>
                <td>{{fornecedor.cnpj}}</td>
                <td>{{fornecedor.nome}}</td>
                <td>{{fornecedor.email}}</td>
                <td class="text-center"><button class="btn btn-sm btn-warning mr-1" [routerLink]="['/fornecedores',fornecedor.id]"><img src="/assets/pencil.svg" alt=""
                            height="10px"></button><button class="btn btn-sm btn-danger" mat-button (click)="openDialog(fornecedor.id)"><img src="/assets/delete.svg"
                            alt="" height="10px"></button></td>
            </tr>

        </tbody>

    </table>



</div>