<div class="container main-container">
    <div><span>Cadastrar Fornecedores</span></div>
    <div>
        <form action="">
            <input type="text" placeholder="Que fornecedor está procurando?">
            <button type="submit"></button>
        </form>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>CNPJ</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>#</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let fornecedor of fornecedores">
                <td>{{fornecedor.cnpj}}</td>
                <td>{{fornecedor.nome}}</td>  
                <td>{{fornecedor.email}}</td>
                <td></td>
            </tr>

        </tbody>

    </table>



</div>