<!-- Page Content -->
<header class="py-5 mb-5 home">        
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-2">
                <img src="/assets/suplemento1.png" height="150px">
            </div>
            <div class="col-lg-10">
                <h1 class="display-4 text-white mt-5 mb-2">Omnipower - Feita pra você!</h1>
            </div>
        </div>
    </div>
</header>

<div class="container main-container">
    <div class="row text-center">
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="/assets/crossplat.jpg" height="164px" width="253px" alt="">
                <div class="card-body">
                    <h4 class="card-title">Cadastrar</h4>
                    <p class="card-text">Realize o cadastro de produtos, usuários e fornecedores.</p> <!-- TODO: ocultar caso usuario seja cliente -->
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="/assets/performance.jpg" height="164px" width="253px" alt="">
                <div class="card-body">
                    <h4 class="card-title">Comprar - Loja</h4>
                    <p class="card-text">Realizar compras de matéria prima.</p>
                </div>
            </div>

        </div>

       <!--  <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="/assets/produtividade.jpg" height="164px" width="253px" alt="">
                <div class="card-body">
                    <h4 class="card-title">Comprar - Cliente</h4>
                    <p class="card-text">Comprar produtos.</p>
                </div>
            </div>-->

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="/assets/produtividade.jpg" height="164px" width="253px" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Comprar - Cliente</h4>
                        <p class="card-text">Comprar produtos.</p>
                    </div>
                </div>

        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="/assets/full_dev.jpg" height="164px" width="253px" alt="">
                <div class="card-body">
                    <h4 class="card-title">Vendas realizadas</h4>
                    <p class="card-text">Consulte aqui todas as vendas que foram realizadas.</p>
                </div>
            </div>

        </div>
    </div>

</div>