<div class="container main-container">
    <div class="fields-container">
        <div class="header d-flex justify-content-between">
        <div class="mt-3">Cadastro de Fornecedores</div>
        <div class="btn btn-primary" [routerLink]="['/fornecedores']">Voltar</div></div>
        <form [formGroup]="formFornecedor" (ngSubmit)="onSubmit()">
            <div class="fields mt-5 ml-3">

                <input type="hidden" formControlName="id">
                <mat-form-field>
                    <mat-label>CNPJ</mat-label>
                    <input matInput required formControlName="cnpj">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Nome</mat-label>
                    <input matInput required formControlName="nome">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Telefone</mat-label>
                    <input matInput required formControlName="telefone">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input formControlName="email" type="email" placeholder="Ex. pat@example.com" matInput required>
                </mat-form-field>
                <br>

                <button class="btn btn-primary" type="submit">Salvar</button>

            </div>
        </form>
    </div>
</div>